body {
    background-color: black;
}

#game {
    position: relative;
    width: 1000px;
    height: 550px;
    overflow: hidden;
    margin: 0 auto;
}

#canvases {
    position: absolute;

    display: -webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align: center;

	display: -moz-box;
	-moz-box-pack:center;
	-moz-box-align: center;

	display: box;
	box-pack:center;
	box-align: center;
}

canvas {
    /* Allows canvases to stack on top of each other without blocking
    each other completely */
    position: absolute;
}

#graphical-canvas {
    background-color: #eee;
}